*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body.dark{
    background-image:url(./DeepSpace.jpg);
    font-family: 'Roboto Mono', monospace;
}

.container{
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 375px;
    margin: 70px auto 70px;
}

img{
    width: 75%;
    border-radius: 200px;
}

img.avatar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 2px;
    border: solid rgb(255, 255, 255) 2px;
}

ul{
   list-style: none;
   margin: 30px 0;
}

h1{
    color: white;
    margin-top: 10px;
    display: block;
    font-weight: 700;
}

svg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25px;
    height: 25px;
}

ul a{
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 16px;
    border-radius: 8px;

    transition: background 400ms;
}

ul img{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li a:hover{
    background: linear-gradient(90deg, #00c8ff90 0%, #92fe9d87 100%);
}

footer{
    font-weight: 500;
    font-size: 14px;
    color:azure;
    opacity: 0.6;
    transition: opacity 300ms;
}

footer:hover{
    opacity: 1;
}


/* .button1{
    background-color: antiquewhite;
    border-radius: 8px;
    border: 1px solid black;
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
}

.button2{
    background-color: antiquewhite;
    border-radius: 8px;
    border: 1px solid black;
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
}

.button3{
    background-color: antiquewhite;
    border-radius: 8px;
    border: 1px solid black;
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
}

.button4{
    background-color: antiquewhite;
    border-radius: 8px;
    border: 1px solid black;
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
} */



