*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* Padrão: Sem class*/
html{ 
    --bg-color: url(./Lawrencium.jpg);
    --text-color: rgb(0, 0, 0);
    --primary-color: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    --hover-color: linear-gradient(90deg, #00c8ff90 0%, #92fe9d87 100%);
    --border-color: solid rgb(255, 255, 255);
}

/* Com class: dark-green */
body.dark-green{
    --bg-color: url(./DeepSpace.jpg);
    --text-color: rgb(0, 0, 0);
    --border-color: white;
    --primary-color: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    --hover-color: linear-gradient(90deg, #00c8ff90 0%, #92fe9d87 100%);
    --border-color: solid white;
}

/* Header e Footer color */
.dark{
    color: white;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto Mono', monospace;
}

.container{
    border: 1.5px var(--border-color);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 375px;
    margin: 70px auto 70px;
}

img.avatar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 2.5px;
    border: 2px var(--border-color);
}

img{
    width: 75%;
    border-radius: 200px;
}

ul{
   list-style: none;
   margin: 30px 0;
}

h1{
    margin-top: 10px;
    display: block;
    font-weight: 700;
}

svg{
    width: 25px;
    height: 25px;
}

#img-github{
    position: relative;
    right: 9px;
}

#img-twitter{
    position: relative;
    right: 5px;
}

#img-gm{
    position: relative;
    right: 10px;
}

ul li a{
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: var(--text-color);
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 16px;
    border-radius: 8px;

    transition: background 500ms;
}

ul img{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li a:hover{
    background: var(--hover-color);
}

footer{
    font-weight: 500;
    font-size: 14px;
    opacity: 0.6;
    transition: opacity 300ms;
}

footer:hover{
    opacity: 1;
}